//................................................................................................................................................................................................................... 1st Eve ..................................................................................................................................................................................................................


// *, 
// *::after, 
// *::before{
//     margin: 0;
//     padding: 0;
// }

// body{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     background: #032124;
// }

// .container{
//     width: 300px;
//     height: 700px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;

//     .head{
//      background: #FFF;
//      width: 300px;
//      height: 240px;
//      border-radius: 48% 50% 49% 47% / 62% 61% 37% 38%;
//      position: relative;
//      }
//     .body{
//         background: #fff;
//         width: 250px;
//         height: 390px;
//         border-radius: 43% 51% 47% 49% / 23% 21% 73% 75%;
//         margin-top: 3%;
//         position: relative;
    
//         &::before{
//             content: "";
//             background: #FFF;
//             width: 45px;
//             height: 240px;
//             position: absolute;
//             border-radius: 37% 64% 47% 49% / 53% 19% 86% 48%;
//             left: -53px;
//             top: 20%;
//         }
//         &::after{
//             content: "";
//             background: #FFF;
//             width: 45px;
//             height: 240px;
//             position: absolute;
//             border-radius: 55% 37% 40% 53% / 10% 49% 49% 91%;
//             right: -53px;
//             top: 20%;
//         }
       
// }

// .plate{
//     background: linear-gradient(#d8d5d5e1, #858181, #161515);
//     width: 250px;
//     height: 30px;
//     border-radius: 48% 50% 47% 49% / 23% 21% 73% 75%;
//     margin-top: 3%;
//     position: relative;
// }
//     .eyes{
//         width: 200px;
//         height: 150px;
//         background: black;
//         position: relative;
//         border-radius: 48% 50% 49% 47% / 62% 61% 37% 38%;
//         margin: 0 auto;
//         top: 25%;
//         display: flex;
//         justify-content: space-evenly;
//         align-items: center;

//         &::before{
//             content: "";
//             width: 50px;
//             height: 50px;
//             position: relative;
//             border-radius: 50%;
//             left: 10%;
//             // background: blue;
//             background: repeating-linear-gradient(
//                 0deg,
//             #130a47,
//             #1c0f4b 10px,
//             #113872 10px,
//             #203a97 20px
//             );
//         }
//         &::after{
//             content: "";
//             width: 50px;
//             height: 50px;
//             // background: blue;
//             position: relative;
//             border-radius: 50%;
//             right: 10%;
//             background: repeating-linear-gradient(
//                 0deg,
//             #130a47,
//             #1c0f4b 10px,
//             #113872 10px,
//             #203a97 20px
//             );
//         }
//     }
// }



//................................................................................................................................................................................................................ 2nd Eve ...................................................................................................................................................................................................................



*, 
*::after, 
*::before{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #032124;
}

.container{
    width: 300px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .head{
        background: linear-gradient(#a7a4a4, #777575, #3f3e3e);
        width: 250px;
        height: 170px;
        border-radius: 48% 52% 10% 10% / 62% 61% 37% 38%;
        position: relative;
        }
    .body{
        background: linear-gradient(#ece9e9, #797676 ,#383636, #111111);
        width: 250px;
        height: 310px;
        border-radius: 10% 10% 47% 49% / 23% 21% 73% 75%;
        margin-top: 3%;
        position: relative;
        animation: animate 3s alternate infinite;
    
        @keyframes animate{
            0%{
                transform: rotateY(0deg);
            }
            50%{
                transform: rotateY(360deg);
            }
            100%{
                transform: rotateY(0deg);
            }
        }
    
        &::before{
            content: "";
            background: linear-gradient(#ece9e9, #797676 ,#383636, #111111);
            width: 45px;
            height: 240px;
            position: absolute;
            border-radius: 37% 64% 47% 49% / 53% 19% 86% 48%;
            left: -53px;
            top: 20%;
        }
        &::after{
            content: "";
            background: linear-gradient(#ece9e9, #797676 ,#383636, #111111);
            width: 45px;
            height: 240px;
            position: absolute;
            border-radius: 55% 37% 40% 53% / 10% 49% 49% 91%;
            right: -53px;
            top: 20%;
        }
       
}

.plate{
    background: linear-gradient(#ece9e9, #797676 ,#383636, #111111);
    width: 250px;
    height: 30px;
    border-radius: 48% 50% 47% 49% / 23% 21% 73% 75%;
    margin-top: 3%;
    position: relative;
}
    .eyes{
        width: 200px;
        height: 125px;
        background: #000000;
        position: relative;
        border-radius: 48% 50% 10% 10% / 62% 61% 37% 38%;
        margin: 0 auto;
        top: 15%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &::before{
            content: "";
            width: 50px;
            height: 50px;
            position: relative;
            border-radius: 50%;
            left: 14%;
            // background: blue;
            background: repeating-linear-gradient(
                0deg,
            #130a47,
            #1c0f4b 10px,
            #113872 10px,
            #203a97 20px
            );
        }
        &::after{
            content: "";
            width: 50px;
            height: 50px;
            // background: blue;
            position: relative;
            border-radius: 50%;
            right: 14%;
            background: repeating-linear-gradient(
                0deg,
            #130a47,
            #1c0f4b 10px,
            #113872 10px,
            #203a97 20px
            );
        }
    }
    .mouth{
        content: "";
        width: 60px;
        height: 12px;
        position: relative;
        border-radius: 10% 10% 10% / 20% 20% 30%;
        left: 10%;
        margin-top: 80px;
        margin-right: 35px;
        background: #9b9e9e; 
    }
}